/* -----Adding Google fonts import----- */
@import url("https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600&display=swap");


/* ------------------------------Body Section------------------------------ */
body {
        font-family: "Kanit", sans-serif;
        text-align: center;
        color: #ffffff;
        background: url(../images/bg-image-1920x1080.webp) no-repeat center center fixed;
        background-size: cover;
        margin: 0;
        height: 100%;
        width: 100%;
        overflow: auto;
}

/* ------------------------------Header Section------------------------------ */
.heading {
    margin-top: 0;
    padding-top: 0;
}
/* ------------------------------Main Section------------------------------ */

#game-container {
    width: 50%;
    margin: auto;
    background-color: black;
    padding: 20px;
    border-radius: 8px;
}

#game-container h2 {
    color: #444;
}

#questions {
    margin-bottom: 20px;
}

#options div {
    margin: 10px 0;
    cursor: pointer;
    padding: 10px;
    background-color: lightgray;
    border-radius: 5px;
    text-align: center;
}

#options div:hover {
    background-color: black;
    color: grey;
}

/* ------------------------------Footer Section------------------------------ */

footer {
    background-color: #131313;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}

/* -----Social Media Icons----- */
#social-networks {
    text-align: center;
    padding: 5px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* -----Footer hover color----- */
#social-networks i:hover {
    color: rgba(255, 255, 255, 0.548);
}

/* --------------Media query: tablets and larger (480px and up)-------------- */
@media screen and (min-width: 480px) {

    #social-networks {
        padding: 20px 0;
    }

    #social-networks i {
        font-size: 220%;
        padding: 5%;
        color: #3a3a3a;
    }

    #game-container {
        width: 50%;
    }

/* --------------Media query: tablets and larger (768px and up)-------------- */
@media screen and (min-width: 768px) {

#social-networks {
    padding: 20px 0;
}

#social-networks i {
    font-size: 220%;
    padding: 5%;
    color: #3a3a3a;
}

#game-container {
    width: 25%;
}

}
}